body {background-color:black;}
p {font-family:monospace;color:white;}
a:link    {color:white; cursor:pointer; background-color:transparent; text-decoration:none}
a:visited {color:white; cursor:pointer; background-color:transparent; text-decoration:none}
a:hover   {color:red; cursor:pointer; background-color:transparent; text-decoration:none}
a:active  {color:white; cursor:pointer; background-color:transparent; text-decoration:none}
